
h3.pageReference {
    font-weight: normal;
    display: inline;
}

td {
    border-bottom: 1px solid #ddd;
    width: 50%;
}

.sc-globalHeader-content-cas {
    margin-right: 15px;
    margin-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sc-applicationContent-cas {
    color: #121212;
    border-color: #cccccc;
    background-color: #f0f0f0;
    padding: 0;
}

.sc-applicationHeader-content -cas {
    position: relative;
    padding: 10px 15px;
    max-width: 1200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9;
    clear: both;
}

.sc .sc-text {
    margin: 15px;
}

.card a {
    font-size: 15px;
}
